
.menu {
  position: fixed;
  background-color: rgb(255, 119, 0);
  display: flex;
  top: 0;
  height: 200%;
  left: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}


.menu[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}


.noscroll {
  overflow: hidden;
}

.menu-btn {
  position: relative;
  z-index: 3;
  transition: all 0.4s ease-in-out;
}


.menu-btn[aria-expanded="true"] {
  transform: rotate(90deg);
}
