body {
  background-color: rgba(190, 233, 179, 0.477);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
  position: fixed;
  background-color: rgb(190, 233, 179);
  display: flex;
  top: 0;
  height: 200%;
  left: 0;
  width: 100%;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}


.menu[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}


.noscroll {
  overflow: hidden;
}

.menu-btn {
  position: relative;
  z-index: 3;
  transition: all 0.4s ease-in-out;
}


.menu-btn[aria-expanded="true"] {
  transform: rotate(90deg);
}
